
/* answer 2*/
p {
    color: #966919;
}

/* answer 3*/
h3, p {
    text-align: center;
}

/* answer 4*/
h1 {
    color: red;
}

/* answer 5*/
h1{
    font-family: georgia;
}
/* answer 6*/
a{
    color: #00ff00;
    text-decoration: none;
}

/* answer 7*/
button {
    color: blueviolet;
    background-color: white;
}

/* answer 8*/
textarea{
    color: #000000;
}

/* answer 9*/
p {
    line-height: 30px;
}

/* answer 10*/
h1 {
    text-decoration: underline;
}